.titlech{
    font-weight: 300;
    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #e2e2e2;
}
.input-group{
    position: relative;
    padding: 40px;
}
.input{
    padding: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #000000
}
.placeholder{
    position: absolute;
    top: 48px;
    left: 44px;
    font-size: 14px;
    padding: 0px 5px;
    color: #666;
    transition: 0.3s;
    pointer-events: none;
}
.btn2{
    background: #141215;
    border-color: #141215;
    color: #fff;
    width: 120px;
    height: 50px;
    margin: 30px;
    text-align: center;
}
